<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
      body {
        background-image: url("num.jpg");
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid black;
        padding: 50px;
        text-align: center;
	color: red;	
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
<body>
    <div class="container">
    <h1>Enter the Numbers to be compared</h1>
    <form action="." method="POST">
        <input type="int" name="num1">
        <input type="int" name="num2">
        <input type="submit" name="my-form" value="Check !">
    </form>
    </div>
</body>
</html>
